<!DOCTYPE html>
<html>
<head>
  <title>TestBootstrap</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar" id="header">
  <div class="navbar-inner">
    <a class="brand" href="#">Acme Corp</a>
    <ul class="nav pull-right">
      <li class="divider-vertical"></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Johnny Rocket
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">My Profile</a></li>
          <li class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" id="sidebar">
      <%= render "shared/sidebar" %>
    </div>
    <div class="span10" id="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
